:root {
  --main-color: rgba(0, 119, 255, 1);
  --error-color: #cf1170;
  --text-color: #00104b;
  --text-grey: #999fb7;
  --radius: 0.2rem;
  --lineheight: 2.5rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: var(--text-color);
  border-radius: var(--radius);
  border: none;
  background: none;
}

body {
  background: linear-gradient(160deg, white 0%, var(--main-color) 100%);
  height: 100%;
}

.clouds {
  background: url("./img/wolken.svg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -5;
  opacity: 0.3;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.ty-grid {
  display: grid;
  height: 100vh;
  grid-template: 5% 20% 40% 30%/5% auto 5%;
  grid-template-areas: ". . ." ". logo ." ". ty ." ". . .";
  grid-gap: 1%;
}
.ty-grid .ty-container {
  grid-area: ty;
  text-align: center;
  align-self: center;
}
.ty-grid .ty-container a {
  max-width: 140px;
  grid-area: link;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.5rem;
  background: var(--main-color);
  display: block;
  margin: 2rem auto;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5rem;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
  -webkit-box-shadow: 0 0 0 var(--text-color);
          box-shadow: 0 0 0 var(--text-color);
  -webkit-transition: 80ms all;
  transition: 80ms all;
}
.ty-grid .ty-container a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 16, 75, 0.75);
          box-shadow: 0 2px 6px 1px rgba(0, 16, 75, 0.75);
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template: 15% auto 40%/19% 60% 19%;
  grid-template-areas: ". logo ." ". form ." ". . .";
  grid-gap: 1%;
}

#logo {
  grid-area: logo;
  background: url("./img/claim_logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
}

#logo2 {
  grid-area: logo;
  background: url("./img/o.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
}

form {
  grid-area: form;
  padding: 1rem 2rem;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
          box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template: 5% repeat(4, 1fr) 12%/repeat(6, 1fr);
  gap: 1rem;
}
form h1 {
  text-align: center;
}
form h1,
form .input-container {
  font-size: 1.3rem;
  grid-column: 1/7;
  align-self: end;
}
form .input-container:first-of-type {
  grid-column: 1/4;
}
form .input-container:nth-of-type(2) {
  grid-column: 4/7;
}
form .contact-container {
  grid-column: 2/6;
}
form #submit {
  grid-column: 3/5;
  align-self: end;
  background: var(--text-color);
  color: white;
}
form label:not(.fake-label ~ label),
form .fake-label {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 0.1rem;
}
form .fake-label {
  margin-bottom: 3px;
}
form .hint {
  color: var(--error-color);
  font-size: 0.7rem;
  position: absolute;
  margin-top: 3px;
}
form input::-webkit-input-placeholder {
  color: white;
}
form input::-moz-placeholder {
  color: white;
}
form input:-ms-input-placeholder {
  color: white;
}
form input::-ms-input-placeholder {
  color: white;
}
form input::placeholder {
  color: white;
}
form input:not([type=checkbox]):not([type=radio]),
form select,
form option,
form .gender-select,
form .contact-select {
  background: white;
  padding: 0.5rem 0.75rem;
  border: var(--border);
  width: 100%;
  height: 2.5rem;
}
form input:focus,
form select:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px var(--main-color);
          box-shadow: 0 0 0 3px var(--main-color);
}
form #submit,
form .gender-select,
form .contact-select {
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5rem;
}
form #submit:hover,
form .gender-select:hover,
form .contact-select:hover,
form input:hover,
form select:hover {
  background: rgba(0, 119, 255, 0.3) !important;
  color: white;
}
form .form-element .error-message {
  position: absolute;
  left: 0;
  font-weight: bold;
  font-size: 12px;
  color: var(--error-color);
}
form .radiobtn,
form #contact {
  opacity: 0;
  position: fixed;
}
form .gender-select {
  width: calc(100% / 3 - 1rem * 0.85);
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  background: white;
  z-index: -2;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  line-height: 1.5rem;
}
form .contact-select {
  text-align: center;
}
form .gender-container label:nth-of-type(2) .gender-select {
  margin: 0 1rem;
}
form .gf {
  color: #ffa0f1;
}
form .gm {
  color: #a2c7ff;
}
form .gd {
  color: #ade785;
}
form .radiobtn:checked + .gender-select,
form #contact:checked + .contact-select {
  background: var(--main-color);
  color: white;
}
form #contact:checked + .contact-select {
  font-size: 0;
}
form #contact:checked + .contact-select::before {
  content: "Ja";
  font-size: 1rem;
}
form .error {
  -webkit-box-shadow: 0 0 0 3px var(--error-color);
          box-shadow: 0 0 0 3px var(--error-color);
}

@media screen and (max-width: 1150px) {
  * {
    font-size: 18px;
  }

  body {
    background: rgba(0, 119, 255, 0.5);
  }

  .grid-container {
    grid-template: 12% auto 48%/8% auto 8%;
    grid-template-areas: ". logo ." ". form ." ". . .";
    gap: 0;
  }

  form {
    padding: 2%;
    gap: 1rem;
  }
  form .gender-select {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 750px) {
  * {
    font-size: 16px;
  }

  .clouds {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  .grid-container {
    grid-template: 12% auto 48%/2% auto 2%;
    grid-template-areas: ". logo ." ". form ." ". . .";
  }

  form {
    background: none;
    padding: 2%;
    gap: 1rem;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    grid-template: 5% repeat(6, 1fr)/repeat(6, 1fr);
  }
  form .input-container,
form .contact-container,
form #submit {
    grid-column: 1/7 !important;
  }
}
/*# sourceMappingURL=style.css.map */