:root {
  --main-color: rgba(0, 119, 255, 1);
  --error-color: #cf1170;
  --text-color: #00104b;
  --text-grey: #999fb7;
  --radius: 0.2rem;
  --lineheight: 2.5rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: var(--text-color);
  border-radius: var(--radius);
  border: none;
  background: none;
}
body {
  background: linear-gradient(160deg, white 0%, var(--main-color) 100%);
  height: 100%;
}
.clouds {
  background: url("./img/wolken.svg");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -5;
  opacity: 0.3;
  transform: translateY(-5rem);
}

.ty-grid {
  display: grid;
  height: 100vh;
  grid-template: 5% 20% 20% 20% / 5% auto 5%;
  grid-template-areas:
    ". . ."
    ". logo ."
    ". ty ."
    ". . .";
  grid-gap: 1%;
}
.ty-container {
  grid-area: ty;
  text-align: center;
  align-self: center;

  a {
    text-decoration: none;
    color: var(--main-color);
  }
}
.grid-container {
  display: grid;
  height: 100vh;
  grid-template: 15% auto 40% / 19% 60% 19%;
  grid-template-areas:
    ". logo ."
    ". form ."
    ". . .";
  grid-gap: 1%;
}

#logo {
  grid-area: logo;
  background: url("./img/claim_logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
}
#logo2 {
  grid-area: logo;
  background: url("./img/o.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
}

form {
  grid-area: form;
  padding: 1rem 2rem;
  // background: linear-gradient(160deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(8px);
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template: 5% 1fr 1fr 1fr 1fr 14% / 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;

  h1 {
    text-align: center;
  }
  h1,
  .input-container {
    font-size: 1.3rem;
    grid-column: 1/7;
    align-self: end;
  }
  .input-container:first-of-type {
    grid-column: 1/4 !important;
  }
  .input-container:nth-of-type(2) {
    grid-column: 4/7 !important;
  }
  .contact-container {
    grid-column: 2/6;
  }
  #submit {
    grid-column: 3/5;
    align-self: end;
  }
  label:not(.fake-label ~ label),
  .fake-label {
    color: white;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 0.1rem;
  }
  .fake-label {
    margin-bottom: 3px;
  }
  label:not(.fake-label ~ label):not(.contact-container > label)::after,
  .fake-label::after {
    content: "*";
  }
  .hint {
    color: var(--error-color);
    font-size: 0.7rem;
    position: absolute;
    margin-top: 3px;
  }
  input::placeholder {
    color: white;
  }
  input:not([type="checkbox"]):not([type="radio"]),
  select,
  option,
  .gender-select,
  .contact-select {
    background: white;
    padding: 0.5rem 0.75rem;
    border: var(--border);
    width: 100%;
    height: 2.5rem;
  }
  input:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--main-color);
  }

  #submit,
  .gender-select,
  .contact-select {
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #submit:hover,
  .gender-select:hover,
  .contact-select:hover,
  input:hover,
  select:hover {
    background: rgba(0, 119, 255, 0.3) !important;
    color: white;
  }
  .form-element .error-message {
    position: absolute;
    left: 0;
    font-weight: bold;
    font-size: 12px;
    color: var(--error-color);
  }
  .radiobtn,
  #contact {
    opacity: 0;
    position: fixed;
  }
  .gender-select {
    width: calc(100% / 3 - 1rem * 0.85);
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    z-index: -2;
    align-self: baseline;
  }
  .contact-select {
    text-align: center;
  }

  .gender-container label:nth-of-type(2) .gender-select {
    margin: 0 1rem;
  }
  .gf {
    color: rgb(255, 160, 241);
  }
  .gm {
    color: rgb(162, 199, 255);
  }
  .gd {
    color: rgb(173, 231, 133);
  }
  .radiobtn:checked + .gender-select,
  #contact:checked + .contact-select {
    background: var(--main-color);
    color: white;
  }
  .error {
    box-shadow: 0 0 0 3px var(--error-color);
  }
}

@media screen and (max-width: 1150px) {
  * {
    font-size: 18px;
  }
  body {
    background: rgba(0, 119, 255, 0.5);
  }
  .grid-container {
    grid-template: 12% auto 48% / 8% auto 8%;
    grid-template-areas:
      ". logo ."
      ". form ."
      ". . .";
    gap: 1rem;
  }
  form {
    padding: 2%;
    gap: 1rem;
  }
}

@media screen and (max-width: 750px) {
  * {
    font-size: 16px;
  }
  .clouds {
    transform: translateY(0);
  }
  .grid-container {
    grid-template: 12% auto 48% / 2% auto 2%;
    grid-template-areas:
      ". logo ."
      ". form ."
      ". . .";
  }
  form {
    background: none;
    padding: 2%;
    gap: 1rem;
    backdrop-filter: none;
    box-shadow: none;
    grid-template: 5% 1fr 1fr 1fr 1fr 14% / 1fr 1fr 1fr 1fr 1fr 1fr;

    .input-container,
    .contact-container,
    #submit {
      grid-column: 1/7;
    }
  }
}
